@import 'sass-bootstrap/lib/bootstrap';

#talk {
  text-decoration: none;
}
#inputarea {
  bottom: 0;
  z-index: 10;
  line-height: 2;
  position: fixed;
  width:100%;
  background: rgb(202,202,202);
}
#input {
  margin-left: 3%;
  margin-top: 1%;
}

// Audience Lists //
#audience {
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 10px 0 100px;
}
#audience li {
  list-style: none;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  border-bottom:  1px solid rgb(227,227,227);

  display: block;
  position: relative;
  z-index: 10;
  height: 46px;
  padding: 0px 5% 0px 5%;
  background: rgb(255,255,255);
  font-size: 14px;
}
#audience li:last-child {
  border-bottom: 0px;
}
// marquee 保留 //
.marquee{
  list-style: none;
  overflow:hidden;
}
.marquee li{
  width:100%;
  text-align:center;
  display:inline-block;
  white-space:nowrap;

  -moz-animation-duration: 20s;
  -moz-animation-name: marquee;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  -webkit-animation-duration: 20s;
  -webkit-animation-name: marquee;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -ms-animation-duration: 20s;
  -ms-animation-name: marquee;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  -o-animation-duration: 20s;
  -o-animation-name: marquee;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}
@-webkit-keyframes marquee {
  from {margin-left: 100%; width: 100%; }
  to { margin-left: -100%; width: 100%; }
}
@-moz-keyframes marquee {
  from {margin-left: 100%; width: 100%; }
  to { margin-left: -100%; width: 100%; }
}
@-ms-keyframes marquee {
  from {margin-left: 100%; width: 100%; }
  to { margin-left: -100%; width: 100%; }
}
@-o-keyframes marquee {
  from {margin-left: 100%; width: 100%; }
  to { margin-left: -100%; width: 100%; }
}